<!-- Pour diviser la fenêtre en plusieurs sous fenêtres et dans notre cas en la divise en deux partie , une partie  va afficher le contenu des  fichier qui est dans contenu . cgi 
et la partie de gauche affichera la liste des dossiers et des sous dossiers.-->
 
<frameset cols="20%,*">

	<frame src="http://localhost/~namari/cgi-bin/liste.cgi?repertoire=//auto_home/namari" />

	
	<frame src="http://localhost/~namari/cgi-bin/contenu.cgi?repertoire=//auto_home/namari" name='main' />

</frameset>