/* CSS partie contenu */

#a {
display:inline-block;
margin-left:1%;
margin-top:1%;
font-size:80%;
margin-top:1%;
padding-right:1%;
position: static;
float:right;
text-align:center;
}
#info{
border-style: solid;
border-color: black;
border-radius: 25px;
moz-border-radius : 10px 10px / 5px 5px;
background: #33ccff;
display:inline-block;
margin-left:1%;
margin-top:1%;
font-size:80%;
margin-top:1%;
padding-right:1%;

float:left;
overflow:hidden;
}
#b{
float:left;
}