/* CSS partie contenu */

body{
display: block;
background:#afeeee;
}
#contenu{
display:inline-block;
margin-left: 1%;
margin-top:1%;
font-size:1%;
padding-right:1%;
position:static;
float: left;
text-align: center;
width:75px;
height: 90px;
overflow:hidden;
}

#contenu img{
width: 70px;
height:70px;
}


#contenu a{
font-size: 14px;
margin-top: 1%;
padding-right: 18%;
}

a {
	text-decoration: none;
	color: black;
}


 /* CSS partie liste */


body{
display: block;
background:#afeeee;
}

#liste{
font-size:30%;
background:red;
text-align:left;
overflow:hidden;
width:80px;
height:40px;
}


#liste img{
width: 70px;
height:70px;
}
